@import "../../../../styles.scss";

$padding: 0.25rem;

.comment {
  background-color: var(--color-aqua-haze);
  margin-bottom: var(--standard-margin);
  padding: $padding 0 $padding;
}

.comments-text {
  font-size: large;
}