<div class="container section">
  <div>
    <span class="mat-title post-title">{{post.title}}</span>
    <span class="mat-body-1 float-right">{{post.publish_date | date}}</span>
  </div>
  <div class="post-author">
    <span class="mat-body-1">{{post.author}}</span>
  </div>
  <hr>
  <div>
    <div class="flex-space-between">
      <div>
        <span class="mat-body-1">{{post.description}}</span>
      </div>
    </div>
    <div>
      <label class="mat-body-2">Content</label>
      <div class="mat-body-1">{{post.content}}</div>
    </div>
  </div>
  <div class="comments-list">
    <app-comments-list [comments]="comments" [postId]="post.id"></app-comments-list>
  </div>
</div>